@model Community.Services.ViewModels.SearchViewModel

@using (Html.BeginForm("Result", "Search"))
{
    <div class="col-md-offset-2 col-md-8">
        <div class="form-group">
            <div class="col-xs-7">
                @Html.TextBoxFor(model => model.What, new { @class = "form-control", @placeholder = "What" })
            </div>

            <div class="col-xs-2">
                @Html.TextBoxFor(model => model.Where, new { @class = "form-control", @placeholder = "Where" })
            </div>

            <div class="col-xs-3">
                <input type="submit" class="btn btn-block btn-default" value="Search!" />
            </div>
        </div>
    </div>
}
